simplified_sha256/simplified_sha256.qpf
simplified_sha256/simplified_sha256.qsf
simplified_sha256/db/simplified_sha256.cmp.rdb
simplified_sha256/db/simplified_sha256.db_info
simplified_sha256/db/simplified_sha256.map_bb.hdb
simplified_sha256/db/simplified_sha256.map.rdb
simplified_sha256/db/simplified_sha256.map.qmsg
simplified_sha256/db/simplified_sha256.quiproj.15164.rdr.flock
simplified_sha256/db/simplified_sha256.sld_design_entry.sci
simplified_sha256/db/simplified_sha256.smart_action.txt
simplified_sha256/output_files/simplified_sha256.flow.rpt
simplified_sha256/db/simplified_sha256.tis_db_list.ddb
simplified_sha256/output_files/simplified_sha256.map.rpt
simplified_sha256/output_files/simplified_sha256.map.summary
simplified_sha256/db/simplified_sha256.quiproj.2660.rdr.flock
simplified_sha256/output_files/simplified_sha256.map.smsg
simplified_sha256/db/prev_cmp_simplified_sha256.qmsg
simplified_sha256/simplified_sha256.sv.bak
simplified_sha256/db/*
simplified_sha256/incremental_db/*
simplified_sha256/output_files/*
simplified_sha256/simulation/*
simplified_sha256/simplified_sha256_nativelink_simulation.rpt
simplified_sha256/db/simplified_sha256.hif

*.qpf
*.qsf
*/db/*
*/output_files/*
*.bak
